@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Karla';
}



body {
  min-width: 320px;
}

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container2 {
  max-width: 1430px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.title__title{
  font-size: 12px;
  font-weight: 400;
  color: #1D1F2E;
  padding-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}
